*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


# =========================
# Android / Gradle
# =========================
.gradle/
build/
app/build/
local.properties
*.log

# =========================
# Android Studio
# =========================
.idea/
captures/
.externalNativeBuild/
.cxx/

# =========================
# OS Files
# =========================
Thumbs.db

# =========================
# NDK / Native Build
# =========================
obj/
bin/

# =========================
# Whisper Models (VERY IMPORTANT)
# =========================
/app/src/main/assets/*.bin

# =========================
# Temporary / Generated
# =========================
*.apk
*.aab